
.center{
    display: flex;
    justify-content: center;
    
}

.tittle{
  background-color: #ff3333;
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  text-align: center;
}
.table1 th,
.table2 th,
.table2 td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

.table1 {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
  background-color: #f9f9f9;
}
.input {
    display: inline-block;
    text-align: center;
  }



.in-btn{
    width: 200px; 
    height: 30px;
    margin-top: 10px;
}


  .message1 {
    background-color: red;
}

.message2 {
    background-color: yellow;
}

.message3 {
    background-color: lightblue;
}

.message4 {
    background-color: lightgreen;
}

.record-btn{
    height: 100px; 
    display: flex;
    justify-content: center; /* 横方向中央揃え */
    align-items: center; /* 縦方向中央揃え */
    height: 100%; /* セル内で中央揃えが効くように高さを100%に設定 */
}


.message1, .message2, .message3, .message4 {
  padding: 24px;           /* ← 高さ感UP */
  font-size: 24px;         /* ← 文字デカく！ */
  max-width: 800px;        /* ← 横に広げる */
  margin: 30px auto;       /* ← 周りにも余裕 */
  border-radius: 10px;
  border: 3px dashed #666;
  text-align: center;
  line-height: 1.6;
}
